<div class="container">
  <img class="logo" src="./assets/img/logo_with_text.svg" />

  <div class="register-container">
    <div class="greet">
      <a routerLink="/login" class="return-arrow">
        <img src="./assets/img/arrow_back.svg" />
      </a>
      <h1>Konto erstellen</h1>
      <span
        >Mit deinem Namen und deiner E-Mail-Adresse hast du dein neues
        DABubble-Konto.
      </span>
    </div>

    <form (submit)="registerUser()" #createUserForm ngNativeValidate>
      <div class="wrapper">
        <div class="name-container" [class.focused]="isNameFocused">
          <img src="./assets/img/person_filled.svg" />
          <input
            [(ngModel)]="name"
            name="name"
            id="name"
            type="text"
            placeholder="Name und Nachname"
            (focus)="onFocusName()"
            (blur)="onBlurName()"
          />
        </div>
        <span *ngIf="nameError" class="error"
          >*Bitte geben Sie einen Namen ein.</span
        >
      </div>
      <div class="wrapper">
        <div class="email-container" [class.focused]="isEmailFocused">
          <img src="./assets/img/mail.svg" />
          <input
            [(ngModel)]="email"
            name="email"
            id="email"
            type="email"
            placeholder="beispielname@email.com"
            (focus)="onFocusEmail()"
            (blur)="onBlurMail()"
          />
        </div>
        <span *ngIf="mailError" class="error"
          >*Diese E-Mail-Adresse ist leider ungültig.</span
        >
      </div>
      <div class="wrapper">
        <div class="pwd-container" [class.focused]="isPwdFocused">
          <img src="./assets/img/lock.svg" />
          <input
            [(ngModel)]="password"
            name="password"
            id="password"
            type="password"
            placeholder="Passwort"
            (focus)="onFocusPwd()"
            (blur)="onBlurPwd()"
          />
        </div>
        <span *ngIf="pwdError" class="error"
          >Bitte geben Sie ein Passwort ein mit mind. 8 Zeichen.</span
        >
      </div>
      <div class="data-policy-container">
        <input id="data-policy" type="checkbox" required />
        <label for="data-policy"
          >Ich stimme der <a href="#">Datenschutzerklärung</a> zu.</label
        >
      </div>
      <div class="btn-container">
        <button class="submit" type="submit">Weiter</button>
      </div>
    </form>
  </div>

  <div class="policies">
    <a href="#">Impressum</a>
    <a href="#">Datenschutz</a>
  </div>
  <div *ngIf="showAnimationContainer" class="animation-container">
    <img
      [@slideAnimation]="animationState"
      src="../../assets/img/acc-creation-logo.svg"
    />
  </div>
</div>
