<div class="edit-channel-container" *ngIf="selectedChannel">
  <div class="edit-channel-head">
    <div class="head-left">
      <div></div>
      <span class="font700-normal">{{selectedChannel.name}}</span>
    </div>
    <div class="head-right" (click)="closeEditChannelContainer()">
      <div></div>
    </div>
  </div>

  <div class="edit-channel-name" *ngIf="!isEditingName">
    <div class="edit-title-cont">
      <span class="font700-normal">Channel-Name</span>
      <div class="edit-editing" (click)="editName()">
        <span class="font600-normal">Bearbeiten</span>
        <div class="edit-pencil">
          <div></div>
        </div>
      </div>
    </div>
    <div class="edit-title-name">
      <div></div>
      <span class="font400-normal">{{selectedChannel.name}}</span>
    </div>
  </div>

  <div class="new-channel-name" *ngIf="isEditingName">
    <div class="edit-title-cont">
      <span class="font700-normal">Channel-Name</span>
      <div class="edit-editing" (click)="saveName()">
        <span class="font600-normal">Speichern</span>
        <div class="edit-save">
          <div></div>
        </div>
      </div>
    </div>
    <div class="new-title-name">
      <div></div>
      <input class="font400-normal" [(ngModel)]="editedChannelName" placeholder="{{selectedChannel.name}}">
    </div>
  </div>

  <div class="edit-channel-description" *ngIf="!isEditingDescription">
    <div class="edit-title-cont">
      <span class="font700-normal">Beschreibung</span>
      <div class="edit-editing" (click)="editDescription()">
        <span class="font600-normal">Bearbeiten</span>
        <div class="edit-pencil">
          <div></div>
        </div>
      </div>
    </div>
    <span class="font400-normal">{{ selectedChannel.description }}</span>
    <div class="description-line"></div>
    <div class="edit-title-users">
      <span class="font700-normal">Erstellt von</span>
      <span class="font400-normal edit-users">{{ selectedChannel.owner }}</span>
    </div>
  </div>

  <div class="new-channel-name" *ngIf="isEditingDescription">
    <div class="edit-title-cont">
      <span class="font700-normal">Beschreibung</span>
      <div class="edit-editing" (click)="saveDescription()">
        <span class="font600-normal">Speichern</span>
        <div class="edit-save">
          <div></div>
        </div>
      </div>
    </div>
    <div class="new-title-name">
      <div></div>
      <input class="font400-normal" [(ngModel)]="editedChannelDescription"
        placeholder="{{selectedChannel.description}}">
    </div>
    <div class="description-line"></div>
    <div class="edit-title-users">
      <span class="font700-normal">Erstellt von</span>
      <span class="font400-normal edit-users">{{ selectedChannel.owner }}</span>
    </div>
  </div>

  <div class="channel-members-users">
    <div class="channel-members-cont">
      <div class="channel-member" *ngFor="let member of members">
        <div class="channel-photo" [style.background-image]="'url(' + member.imgProfil + ')'">
          <div class="online"></div>
        </div>
        <span class="font400-normal">{{member.name}}</span>
      </div>
    </div>
    <div class="add-member" (click)="addMember()">
      <div class="add-icon">
        <div></div>
      </div>
      <span class="font400-normal">Mitglieder hinzufügen</span>
    </div>
  </div>

  <div class="button-create-cont">
    <span class="font700-normal" (click)="leaveChannel()">Channel verlassen</span>
  </div>