<div>
  <div>
    <div class="header-position">
      <div class="position-icon" *ngIf="!iconResponsive">
        <img src="assets/img/logo_with_text.svg" alt="" />
      </div>
      <div class="channel-name" *ngIf="iconResponsive">
        <div class="arrowl-left" (click)="backToChannels()">
          <div></div>
        </div>
        <div class="channel-logo">
          <img src="assets/icons/Group.svg" />
        </div>
        <div class="channel-title">
          <span class="title font700-normal">Code learning</span>
        </div>
      </div>
      <div class="input-position">
        <input
          class="input-field"
          type="text"
          placeholder="Code learning durchsuchen"
          [(ngModel)]="searchTerm"
          (input)="onSearch($event)"
        />
        <div *ngIf="showResults" class="searchContainer">
          <div
            *ngFor="let user of foundUsers"
            (click)="
              showUserProfil(
                user['name'],
                user['photoURL'],
                user['email'],
                user['uid']
              )
            "
            class="searchResult"
          >
            <img src="{{ user['photoURL'] }}" />
            <span>{{ user["name"] }}</span>
          </div>
          <div
            *ngFor="let message of foundMessages"
            class="searchResultMessages"
          >
            <img src="{{ message['profileImg'] }}" />
            <span
              >Text from {{ message["userName"] }}: "{{ message["text"] }}" -
              {{ message["date"] }}</span
            >
          </div>
        </div>
      </div>
      <div class="position-profil-contant" (click)="showInfo()">
        <div class="profil-name">
          {{ profilName }}
        </div>
        <div>
          <img class="profil-img" src="{{ profilImg }}" alt="" />
        </div>
        <div class="arrow-down">
          <img src="assets/icons/keyboard_arrow_down.svg" alt="" />
        </div>
      </div>
    </div>
  </div>
</div>
<div
  *ngIf="show"
  id="profilLogout"
  class="position-profil-logout"
  (click)="removeInfo()"
>
  <div (click)="notRemoveInfo($event)" class="position-profile-contant">
    <div (click)="showProfil()">Profil</div>
    <div (click)="logOut()">Log Out</div>
  </div>
</div>
