<div class="container">
  <img class="logo" src="./assets/img/logo_with_text.svg" />
  <div class="impressum-container">
    <a routerLink="/login" class="return-arrow">
      <img src="./assets/img/arrow_back.svg" />
    </a>
    <h1>Impressum</h1>
    <span>Alen Alduk, Marco Thiele, Juan de Santos</span>
    <span>Mühlweg 27</span>
    <span>63755 Alzenau</span>
    <h2>Contact:</h2>
    <span>Email: a.alduk@icloud.com</span>
  </div>

  <div class="policies">
    <a href="#">Impressum</a>
    <a href="#">Datenschutz</a>
  </div>
</div>
