<div class="container">
  <div class="header">
    <img class="logo" src="./assets/img/logo_with_text.svg" />
    <div class="reg-container">
      Neu bei DABubble?
      <a routerLink="/register">Konto erstellen</a>
    </div>
  </div>

  <!-- Intro -->
  <div
    [@backgroundAnimation]="backgroundState"
    [class.none]="setNone"
    class="start-animation"
  >
    <div class="content" [@moveAnimation]="moveState">
      <img [@slideAnimation]="svgTransform" src="./assets/img/Logo.svg" />
      <div class="text">
        <span [@textAnimation]="textState">DABubble</span>
      </div>
    </div>
  </div>

  <!-- Întro END -->
  <div class="login-container">
    <div class="greet">
      <h1>Anmeldung</h1>
      <span
        >Wir empfehlen dir, die E-Mail-Adresse zu nutzen, die du bei der Arbeit
        verwendest.
      </span>
    </div>

    <form (submit)="loginUser()" #loginUserForm ngNativeValidate>
      <div class="wrapper">
        <div class="email-container" [class.focused]="isEmailFocused">
          <img src="./assets/img/mail.svg" />
          <input
            required
            id="email"
            type="email"
            placeholder="beispielname@email.com"
            [(ngModel)]="email"
            name="email"
            (focus)="onFocusEmail()"
            (blur)="onBlurMail()"
          />
        </div>
        <span *ngIf="mailError" class="error"
          >*Diese E-Mail-Adresse ist leider ungültig.</span
        >
        <span class="error" *ngIf="loginCredentialsError">
          *Bitte prüfe deine Email Adresse.
        </span>
      </div>
      <div class="wrapper">
        <div class="pwd-container" [class.focused]="isPwdFocused">
          <img src="./assets/img/lock.svg" />
          <input
            required
            id="password"
            type="password"
            [(ngModel)]="password"
            name="password"
            placeholder="Passwort"
            (focus)="onFocusPwd()"
            (blur)="onBlurPwd()"
          />
        </div>
        <span *ngIf="pwdError || loginCredentialsError" class="error"
          >Falsches Passwort. Bitte noch einmal versuchen.</span
        >
        <span class="erorr" *ngIf="requestsError">
          Zu viele Versuche. Bitte versuche es später noch einmal.
        </span>
      </div>

      <a class="reset" routerLink="/recover">Passwort vergessen?</a>

      <div class="or-container">
        <div class="divider"></div>
        <span>ODER</span>
        <div class="divider"></div>
      </div>

      <div class="google" (click)="googleLogin()">
        <img src="./assets/img/google.svg" />
        <span>Anmelden mit Google</span>
      </div>

      <div class="btn-container">
        <button class="submit" type="button" (click)="loginUser()">
          Anmelden
        </button>
        <button class="guest" type="button" (click)="guestLogin()">
          Gäste-Login
        </button>
      </div>
    </form>
  </div>
  <!-- policies -->
  <div class="policies">
    <a routerLink="/impressum">Impressum</a>
    <a routerLink="/data-policy">Datenschutz</a>
  </div>

  <div class="reg-container-mobile">
    Neu bei DABubble?
    <a routerLink="/register">Konto erstellen</a>
  </div>
</div>
