.create-channel-container {
  display: flex;
  width: 792px;
  padding: 40px;
  flex-direction: column;
  align-items: flex-end;
  gap: 20px;
  border-radius: 30px;
  background: var(--White, #fff);
  box-shadow: 0px 6px 10px 0px rgba(0, 0, 0, 0.2);
}

.mat-mdc-dialog-container .mdc-dialog__surface {
  border-radius: 30px !important;
}

.create-channel-title-cont {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-self: stretch;

  span {
    color: black;
    font-size: 24px;
  }
}

.close-create-channel {
  display: flex;
  width: 24px;
  height: 24px;
  padding: 8px;
  justify-content: center;
  align-items: center;
  cursor: pointer;

  div {
    background-image: url(../../../../assets/icons/close.svg);
    background-size: cover;
    width: 24px;
    height: 24px;
  }
  &:hover {
    div {
      background-image: url(../../../../assets/icons/close_blue.svg);
    }
    border-radius: 20px;
    background: var(--Bg-color, #eceefe);
  }
}

.create-channel-description {
  color: black;
  font-size: 18px;
}

.create-channel-name {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
  align-self: stretch;

  span {
    color: black;
    font-size: 18px;
  }
}

.input-channel-name-cont {
  display: flex;
  padding: 18px 20px;
  justify-content: flex-start;
  gap: 15px;
  align-self: stretch;

  border-radius: 40px;
  border: 1px solid var(--ligth-purple-lines, #adb0d9);

  input {
    width: 100%;
    outline: none;
    border: none;
    color: black;
    font-size: 18px;

    ::placeholder {
      color: var(--Text-gray, #686868);
      font-family: Nunito;
      font-size: 18px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
    }
  }
  textarea {
    height: 25px;
    max-height: 75px;
    font-family: Nunito;
    font-size: 18px !important;
    width: 100%;
    outline: none;
    border: none;
    color: black;
    overflow: visible;

    ::placeholder {
      color: var(--Text-gray, #686868);
      font-family: Nunito;
      font-size: 18px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
    }
  }
}

.input-channel-name-cont.focused {
  border: 1px solid var(--Purple-3, #535af1);
}

.button-create-cont {
  display: flex;
  padding: 12px 25px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 25px;
  background: var(--Purple-1, #444df2);
  cursor: pointer;

  span {
    color: #fff;
    font-size: 18px;
  }

  &:hover {
    background: var(--Purple-2, #797ef3);
  }
}

@media (width < 1000px) {
  .create-channel-container {
    width: 710px;
  }
}

@media (width < 1000px) {
  .create-channel-container {
    width: 560px;
  }
}

@media (width < 800px) {
  .create-channel-container {
    width: 400px;
  }
}

@media (width < 600px) {
  .create-channel-container {
    width: 320px;
  }
}

@media (width < 500px) {
  .create-channel-container {
    height: 100vh;
    width: 84vw;
    position: fixed;
    border-radius: 0;
  }

  .cdk-overlay-container {
    width: 0;
    height: 0;
  }

  .mat-mdc-dialog-container .mdc-dialog__surface {
    border-radius: 0;
  }
}
