<div>
  <app-header></app-header>
</div>
<div class="general-view-container">
  <app-channels class="general-channels-container" [class.closed]="isChannelsClosed" [class.open]="isChannelOpen"
    [ngStyle]="{ 'display': channelDisplay }" *ngIf="showChannels"></app-channels>
  <app-main-chat class="main-chat-container" [class.complete]="isMainChatcomplete" [class.init]="isMainChatInit"
    [class.small]="isMainChatSmall" [class.flex]="mainChatRespo" *ngIf="showMainChat"></app-main-chat>
  <app-secondary-chat class="secondary-chat-container" *ngIf="showSecondary" [class.closed]="isThreadsClosed"
    [class.flex]="secundaryRespo" [class.open]="isThreadsOpen"></app-secondary-chat>
</div>

<div class="workspace-menu-cont" (click)="openCloseWorkspace()">
  <div class="workspace-menu">
    <span>{{ buttonText }}</span>
    <div [ngClass]="{ 'open': isMenuOpen, 'closed': !isMenuOpen }"></div>
  </div>
</div>