.position-profil-contant{
    display: flex;
    flex-direction: column;
    gap: 38px;
    width: 500px;
    // height: 600px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    border-radius: 30px;
    padding: 45px 40px 45px 40px;
    box-sizing: border-box;
}

.profil-header{
    display: flex;
    justify-content: space-between;

    div{
        font-size: 24px;
        font-weight: 700;
    }
}

.profil-img{
    width: 100%;
    display: flex;
    justify-content: center;
    img{
        border-radius: 360px;
        width: 200px;
        height: 200px;
    }
}

.close{
    cursor: pointer;
}

.profil-name{
    display: flex;
    justify-content: space-between;
}

.name{
    font-size: 32px;
    font-weight: 700; 
}

.edit{
    font-size: 18px;
    font-weight: 600;
    color: rgb(94, 100, 242);
    cursor: pointer;
}

.active{
    color: rgba(146, 200, 62, 1);
    font-size: 20px;
    font-weight: 400;
}

.profil-email{
    display: flex;
    gap: 20px;
    align-items: center;
    font-size: 20px;
    font-weight: 700;
}

.current-email{
    margin-left: 50px;
    font-size: 18px;
    font-weight: 500;
    color: rgba(19, 129, 255, 1);
}

.position-btn{
    display: flex;
    justify-content: center;
    width: 100%;
   

    button{
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50px;
        padding: 12px 25px 12px 25px; 
        gap: 10px;
        background-color: rgb(68, 72, 242);
        color: white;
        border: unset;
        width: 164px;
        cursor: pointer;
    }
}