<!--Main chat-head new chat-->
<div class="head-new-message-cont" *ngIf="isNewMessageVisible">
  <div class="head-new-message-title">
    <span class="font700-normal">Neue Nachricht</span>
  </div>
  <div class="head-new-message-searchbar" [class.focused]="isFocused">
    <input
      type="text"
      placeholder="An: #channel, oder @jemand oder E-Mail Adresse"
      (focus)="inputFocused()"
      (blur)="inputBlurred()"
      (input)="searchMembersAndChannels($event)"
      [(ngModel)]="inputValue"
    />
  </div>
</div>

<div class="chat-container">
  <div class="inner-container">
    <!--Main chat principal-->
    <div
      *ngIf="showContainers && inputValue"
      class="container-lookingfor"
      #membersContainer
    >
      <div *ngIf="memberMatches.length > 0" class="searchMatches">
        <span class="font600-normal">Members gefunden:</span>
        <div *ngFor="let member of memberMatches">
          <div class="memberMatches" (click)="openPrivateContainer(member)">
            <img [src]="member.profileImg" alt="" />
            <span>{{ member.name }}</span>
          </div>
        </div>
      </div>
      <div *ngIf="channelMatches.length > 0" class="searchMatches">
        <span class="font600-normal">Channels gefunden:</span>
        <div *ngFor="let channel of channelMatches">
          <div class="channelMatches" (click)="openChannel(channel)">
            <img src="assets/icons/tag.svg" alt="" />
            <span class="font400-normal">{{ channel.name }}</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Container for the user to write-->

<!--Container to write in chat-->
<app-box-to-write class="box-to-write"></app-box-to-write>
